.footer-contact {
    flex: 1;
}

.footer-contact__title {
    font-size: 30px;
    font-weight: 500;
    color: var(--color-white);
}

.footer-contact__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 35px;
    max-width: 450px;
}

.footer-contact__list-item {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-white);
}

.footer-contact__list-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    transition: color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}

.footer-contact__list-link:hover,
.footer-contact__list-link:focus,
.footer-contact__list-link:focus-visible,
.footer-contact__list-link:active {
    color: var(--color-orange);
    letter-spacing: 1px;
}

.footer-contact__list-image {
    width: 30px;
    height: auto;
}